extends ../shared/layout
block heading
    h1 Posts

block main-content
    //ul
    div
        each post in posts
            div.post
                a(href="/post/" + post._id + "/" + post.title)
                    div.title= post.title
                span= "Author: " + post.author
                br
                span= "Views: " + post.views
        else
            span= "No posts yet"
    - let n = 1
    while n <= Math.ceil(posts.count / 20)
        a(href="/list?page=" + n)= n++
        if n <= Math.ceil(posts.count / 20)
            span= ", "